<table class="w-full align-center-table">
  <tr>
    <td class="bg-lightSilver">
      <table>
        <tr>
          <td class="text-mosque text-[24px] leading-[28px] font-bold pt-[30px] pb-[40px] text-center">Sint cupidatat occaecat ut</td>
        </tr>
        <tr>
          <td class="sm:px-[20px]">
            <table>
              <tr>
                <td class="w-[20px] sm:w-full sm:block"></td>
                <td class="pt-[30px] pl-[20px] bg-white w-[270px] max-w-[270px] text-center sm:w-full sm:max-w-full sm:block">
                  <table>
                    <tr>
                      <td class="text-center"><x-image class="w-[100px]" imgUrl="Icon.png" href="#"></td>
                    </tr>
                    <tr>
                      <td class="text-mosque text-[20px] leading-[23px] font-bold pt-[20px] text-center">Nisi ut ade</td>
                    </tr>
                    <tr>
                      <td class="text-outerSpace text-[16px] leading-[19px] font-normal text-center py-[30px] px-[25px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [leading-none] [vertical-align:6px]">1</span></td>
                    </tr>
                  </table>
                </td>
                <td class="w-[20px] py-[20px] sm:w-full sm:block"></td>
                <td class="pt-[30px] bg-white w-[270px] max-w-[270px] text-center sm:w-full sm:max-w-full sm:block">
                  <table>
                    <tr>
                      <td class="text-center"><x-image class="w-[100px]" imgUrl="Icon.png"></td>
                    </tr>
                    <tr>
                      <td class="text-mosque text-[20px] leading-[23px] font-bold pt-[20px] text-center">Duis aute irure</td>
                    </tr>
                    <tr>
                      <td class="text-outerSpace text-base leading-[19px] font-normal text-center py-[30px] px-[25px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [leading-none] [vertical-align:6px]">2</span></td>
                    </tr>
                  </table>
                </td>
                <td class="w-[20px] py-[20px] sm:w-full sm:hidden"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="pt-[40px]"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
