<table class="w-full">
  <tr>   
    <td class="pt-[20px] px-[20px] sm:p-[20px]"><x-image class="w-[560px]" imgUrl="Hero_image.png" href="#"></td>
  </tr>
  <tr>
    <td class="text-mosque text-[24px] leading-[28px] font-bold pt-[30px] px-[20px] text-center">Excepteur sint occaecat cupidatat 
    </td>
  </tr>
  <tr>
    <td class="text-outerSpace text-[16px] leading-[19px] font-normal pt-[25px] px-[50px] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
  </tr>
  
  <tr>
    <td class="py-[40px] px-[20px] text-center w-[350px] h-[46px]">
      <span class="rounded-xl font-bold text-white text-[20px] px-[55px] py-[12px] bg-cyan sm:px-[35px]">Ut enim ad minim veniam</span>      
    </td>
  </tr>
</table>
