<table class="w-full">
  <tr>
    <td
      class="text-black text-[12px] leading-[14px] font-bold pl-[20px] pr-[20px] pt-[30px] text-left"
    >
      Ut enim ad minim:
    </td>
  </tr>
  <tr>
    <td
      class="text-black text-[12px] leading-[14px] font-normal pl-[20px] pr-[20px] pt-[15px]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </td>
  </tr>
  <tr>
    <td
      class="text-black text-[12px] leading-[14px] font-normal pl-[20px] pr-[20px] pt-[15px]"
    >
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </td>
  </tr>
  <tr>
    <td
      class="text-black text-[12px] leading-[14px] font-bold pl-[20px] pr-[20px] pt-[25px]"
    >
      Sint occaecat cupidatat:
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td
            class="text-black text-[12px] leading-[14px] font-normal pt-[10px] pl-[30px] w-[40px] align-top"
          >
            1.
          </td>
          <td
            class="text-black text-[12px] leading-[14px] font-normal pl-[5px] pt-[10px] pr-[20px]"
          >
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td
            class="text-black text-[12px] leading-[14px] font-normal pt-[5px] pl-[30px] w-[40px] align-top"
          >
            2.
          </td>
          <td
            class="text-black text-[12px] leading-[14px] font-normal pl-[5px] pt-[5px] pr-[20px]"
          >
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="text-center pt-[20px] px-[20px] w-[560px]">
      <hr class="bg-darkGreen" />
    </td>
  </tr>
  <tr>
    <td
      class="text-black text-[12px] leading-[14px] font-normal pl-[20px] pt-[10px] text-center"
    >
      Sed do eiusmod tempor incididunt ut labore
    </td>
  </tr>
  <tr>
    <td class="px-[20px] py-[20px] text-center">
      <x-image class="w-[110px]" imgUrl="Footer_Logo.png" href="#"></x-image>
    </td>
  </tr>
</table>
